# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Data, logs, images, .pth, tmp, bkp
**/.pth
**/data*
**/logs
**/tmp*
**/exp*
**/bkp*/**

# Vscode config
**/.vscode

# MMDet configs
**/configs

# Jupyter notebook checkpoints
**/.ipynb_checkpoints